<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ASI Update</title>

  
</head><body style="color: white; background-color: rgb(42, 42, 127);" alink="#9999ff" link="#ccffff" vlink="#ff99ff">
<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td colspan="4" rowspan="1" style="vertical-align: top;">
      <div style="text-align: center;"><img style="width: 379px; height: 72px;" alt="Advantzware Logo" src="logo-advantzware.png"><br>
      </div>
      <div style="text-align: center;"><big><span style="font-family: Arial Narrow;">MANUFACTURING &amp; DISTRIBUTION
SOFTWARE FOR PACKAGING</span></big><br>
      </div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top; font-family: Arial;">Thank you
for your interest in Upgrading your Advantzware software
installation.&nbsp; <br>
      <br>
Please follow the instructions on this page to download and install your
Advantzware updates.<br>
      <br>
      <span style="font-style: italic;">(NOTE: You will need to run the
update while logged into the Advantzware server, and you will need an
installation password.<br>
You can get this from an ASI Support
representative.)</span><br>
      <br>
To begin, click <a href="http://34.203.15.64/patches/PATCH16_8_8.zip" download="PATCH16.8.8.zip">this link</a>
to download the "zipped" patch file.&nbsp; By default, this will be
placed in your Downloads folder on the server.&nbsp; When the download
is complete, follow the steps listed below:<br>
      <br>
1. Open Windows Explorer and locate the Downloads folder<br>
2. Find the Patch file you just downloaded<br>
3. COPY the file to the Updates directory of your Advantzware installation (usually N:\Updates)<br>
4. Right-click the Patch file, find the 7-zip option, and choose "<span style="font-style: italic;">Extract Here</span>"<br>
5. Double-click the file named "<span style="font-style: italic;">StartUpdate.bat</span>" (or -sometimes- just "<span style="font-style: italic;">StartUpdate</span>")<br>
      <br>
At this point, the patch will begin the update process.&nbsp; <br>
      <br>
When prompted, enter the update User ID and Password provided by ASI Support.<br>
      <br>
If you have multiple environments (Prod and Test, for example), choose
the environment you wish to upgrade and press the Start Update
button.&nbsp; (For customers with a single environment, the process
will begin automatically.)<br>
<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>

<br>

<br>

</body></html>
