A
{
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Arial, Helvetica, sans serif;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline;
	 COLOR: #FF3300;
}
TD, TH
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif;
}
P { font-family : "Verdana";
     font-size : 10.0pt;
     color : black;}
INPUT
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif
}
SELECT
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif
}
TEXTAREA
{
    FONT-SIZE: 8pt;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, sans serif
}
LI
{
    COLOR: #cc3300;
    LINE-HEIGHT: 1.5em;
    LIST-STYLE-TYPE: square;
    ALIGN: left;
    FONT-FAMILY: Arial, Helvetica, sans serif;
    FONT-SIZE: 9pt;
}
INPUT.button,
INPUT.buttonM
{
	background: #0066cc;
	border: 1px solid #4C77B6;
	color: #ffffff;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	padding: 1px;
	CURSOR: hand;
	WIDTH: auto;
}
.search
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 5pt;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 5pt;
    PADDING-BOTTOM: 5pt;
    BORDER-LEFT: black 1px solid;
    PADDING-TOP: 5pt;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #e5e5e5
}
.shade
{
    COLOR: #333333;
    BACKGROUND-COLOR: #EEF3FF;
}

.blackshade
{
	COLOR: #FFFFFF;
    BACKGROUND-COLOR: #85A5F2;
    FONT-WEIGHT: bold;

}
.greyshade
{   
    COLOR: #000000;
    BACKGROUND-COLOR: #CCCCCC;
    FONT-WEIGHT: bold;

}
.blackshade:hover
{
    COLOR: #FFCC00;
}

.rowselected
{
    COLOR: #333333;
    BACKGROUND-COLOR: #DBEAF5;
}

.message
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;	
    COLOR: #cc3300;
    FONT-FAMILY: Arial, Helvetica, sans serif;
}
.SELECTS
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
    COLOR: #333333;
	 width: 57;
    FONT-FAMILY: Arial, Helvetica, sans serif
}

h1
{  
    FONT-FAMILY: Arial, Helvetica, sans serif;
	 font-size: 13pt;
 }
.tableheader
{
    FONT-FAMILY: verdana, Arial;
	font-size: 13px;
    FONT-WEIGHT: bold;	
	BACKGROUND-COLOR: #5A83C3;
	COLOR: #F5C43C;
	padding: 5px;
} 
.header2
{
	BACKGROUND-COLOR: #D1DCEB;
	padding: 10px;	
}
.fieldname
{
    FONT-FAMILY: verdana, Arial;
	color: #3A4F6C;
	font-weight: bold;
	padding: 5px;
}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;background: #DFE6EF;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {border-left:1px solid #08c; border-right:1px solid #08c;}
.xb1 {margin:0 5px; background:#08c;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}
.xboxcontent {display:block; border:0 solid #08c; border-width:0 1px; padding: 4px; background: #DFE6EF;}
