/*------------------------------------------------------------------------
    File        : &1.i
    Purpose     : &7

    Syntax      :

    Description : &8 

    Author(s)   : @USER@
    Created     : &6
    Notes       :
  ----------------------------------------------------------------------*/

/* ***************************  Definitions  ************************** */

@FILEANNOTATION@

DEFINE TEMP-TABLE &1 NO-UNDO &9 &3 &2
&4
&5
    .
