/*------------------------------------------------------------------------
    File        : &2DatasetChildAdapter
    Purpose     : 
    Syntax      : 
    Description : 
    Author(s)   : &3
    Created     : Sun Aug 07 20:51:46 CEST 2011
    Notes       : 
  ----------------------------------------------------------------------*/

ROUTINE-LEVEL ON ERROR UNDO, THROW.

USING Consultingwerk.SmartComponents.Implementation.* FROM PROPATH .
USING Progress.Lang.*                                 FROM PROPATH .

CLASS &1.&2DatasetChildAdapter 
    INHERITS SmartDatasetChildAdapter 
    USE-WIDGET-POOL: 

    /*------------------------------------------------------------------------------
        Purpose: Constructor for the &2DatasetChildAdapter class
        Notes:   
        @param poContainer The IContainer to add the &2DatasetChildAdapter to                                                                        
    ------------------------------------------------------------------------------*/
	CONSTRUCTOR PUBLIC &2DatasetChildAdapter (poContainer AS System.ComponentModel.IContainer):
		SUPER (INPUT poContainer).
		
	END CONSTRUCTOR.
		
    /*------------------------------------------------------------------------------
        Purpose: Constructor for the &2DatasetChildAdapter class
        Notes:   
    ------------------------------------------------------------------------------*/
	CONSTRUCTOR PUBLIC &2DatasetChildAdapter ():
		SUPER ().
		
	END CONSTRUCTOR.

END CLASS.
