ul.treeview{
	margin: 0 !important;
	padding: 0 !important;
}

.treeview li{
	background: #e4d4b8;
	list-style-type: none;
	border-bottom: 1px solid #cdaf7c;
	padding:5px 5px 5px 15px;
}
.treeview li:hover {
	background-color:#ffcf6e;
}


.treeview li a {
	color:#000;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}
.treeview li a:hover {
	color:#000;
}

.treeview li ul li{
	/* background: #9ED5E2; */
	list-style-type: none;
	padding-left: 12px;
	padding-bottom:0px;
	margin-bottom: 0px;
	font-weight:normal;
	background: url(bullet.gif) no-repeat left 10px
}
.treeview li ul li:hover {
	background-color:none;
}

.treeview li ul li a {
	color:#000;
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;
}
.treeview li ul li {border-bottom: none;}
.treeview li ul li a:hover {
	color:#000;
}

.treeview li.submenu {
	background: #e4d4b8 url(arrow1.gif) no-repeat right 10px;
	cursor: hand !important;
	cursor: pointer !important;
	margin-right: 5px;
}


.treeview li.submenu:hover {
	background-color:#ffcf6e;
}



.treeview li.submenu ul {
	display: none;
	margin-left: 10px !important;
	padding: 0 !important;
}

.treeview .submenu ul li{
	cursor: default;
}