/*------------------------------------------------------------------------
    File        : &2UpdatableBrowser
    Purpose     : 
    Syntax      : 
    Description : 
    Author(s)   : &3
    Created     : Sun Aug 07 20:57:26 CEST 2011
    Notes       : 
  ----------------------------------------------------------------------*/

ROUTINE-LEVEL ON ERROR UNDO, THROW.

USING Consultingwerk.SmartComponents.Implementation.* FROM PROPATH .
USING Progress.Lang.*                                 FROM PROPATH .

CLASS &1.&2UpdatableBrowser 
    INHERITS SmartUpdatableBrowser 
    USE-WIDGET-POOL: 
		
    /*------------------------------------------------------------------------------
        Purpose: Constructor for the &2UpdatableBrowser class
        Notes:   
    ------------------------------------------------------------------------------*/
	CONSTRUCTOR PUBLIC &2UpdatableBrowser ():
		SUPER ().
		
	END CONSTRUCTOR.

END CLASS.
