/*------------------------------------------------------------------------
    File        : &2UserControl
    Purpose     : 
    Syntax      : 
    Description : 
    Author(s)   : &3
    Created     : Sun Aug 07 20:37:59 CEST 2011
    Notes       : 
  ----------------------------------------------------------------------*/

ROUTINE-LEVEL ON ERROR UNDO, THROW.

USING Consultingwerk.SmartComponents.Base.* FROM PROPATH .
USING Progress.Lang.*                       FROM PROPATH .

CLASS &1.&2UserControl 
    INHERITS SmartUserControl
    USE-WIDGET-POOL: 

    /*------------------------------------------------------------------------------
        Purpose: Constructor for the &2UserControl class
        Notes:   
    ------------------------------------------------------------------------------*/
	CONSTRUCTOR PUBLIC &2UserControl ():
		SUPER ().
		
	END CONSTRUCTOR.

END CLASS.
