/*------------------------------------------------------------------------
    File        : &2DataBrowser
    Purpose     : 
    Syntax      : 
    Description : 
    Author(s)   : &3
    Created     : Sun Aug 07 20:45:34 CEST 2011
    Notes       : 
  ----------------------------------------------------------------------*/

ROUTINE-LEVEL ON ERROR UNDO, THROW.

USING Consultingwerk.SmartComponents.Implementation.* FROM PROPATH .
USING Progress.Lang.*                                 FROM PROPATH .

CLASS &1.&2DataBrowser 
    INHERITS SmartDataBrowser 
    USE-WIDGET-POOL: 
		
    /*------------------------------------------------------------------------------
        Purpose: Constructor for the &2DataBrowser class
        Notes:   
    ------------------------------------------------------------------------------*/
	CONSTRUCTOR PUBLIC &2DataBrowser ():
		SUPER ().
		
	END CONSTRUCTOR.

END CLASS.
