/*------------------------------------------------------------------------
    File        : &1
    Purpose     : 
    Syntax      : 
    Description : 
    Author(s)   : @USER@
    Created     : &3 
    Notes       : 
  ----------------------------------------------------------------------*/

ROUTINE-LEVEL ON ERROR UNDO, THROW.

USING &2.* FROM PROPATH .
USING Progress.Lang.* FROM PROPATH .

@FILEANNOTATION@

CLASS &2.&1
    INHERITS &1_Generated: 

    /*------------------------------------------------------------------------------
        Purpose: Constructor of the &1 class                                                                      
        Notes:                                                                        
    ------------------------------------------------------------------------------*/
    CONSTRUCTOR PUBLIC &1 ():
    
        SUPER () .
    
    END CONSTRUCTOR .

    /*------------------------------------------------------------------------------
        Purpose: Constructor of the &1 class                                                                      
        Notes:                                         
        @param phBuffer A source buffer to copy the values from                                
    ------------------------------------------------------------------------------*/
    CONSTRUCTOR PUBLIC &1 (phBuffer AS HANDLE):
    
        SUPER (phBuffer) .
    
    END CONSTRUCTOR .
    
END CLASS.