
    /*------------------------------------------------------------------------------
        Purpose:                                                                        
        Notes:                                    
        @param 
        @return                                     
    ------------------------------------------------------------------------------*/
    METHOD PUBLIC VOID &1 ():
        
        RETURN  .
        
    END METHOD.
