<Security>
<Options 
FieldUserOwnerID="UserID"
FieldUserGroupID="GroupID"
AdminID="admin"

/>

<Tables> 
 
<Table Name="[dbo].[usergroup]" OwnerIDField="" AdvSecurityMethod="0"
DEFAULT="">
<UserGroups> 
 
<User Name="demo" Permission="S" /> 
 
<User Name="user" Permission="AESP" /> 
 
<User Name="manager" Permission="AEDSP" /> 
 
<User Name="admin" Permission="AEDSP" /> 

</UserGroups> 
</Table> 
 
<Table Name="[dbo].[main_menu]" OwnerIDField="" AdvSecurityMethod="0"
DEFAULT="">
<UserGroups> 
 
<User Name="demo" Permission="S" /> 
 
<User Name="user" Permission="AESP" /> 
 
<User Name="manager" Permission="AEDSP" /> 
 
<User Name="admin" Permission="AEDSP" /> 

</UserGroups> 
</Table> 
 
<Table Name="[dbo].[user_master]" OwnerIDField="UserID" AdvSecurityMethod="1"
DEFAULT="">
<UserGroups> 
 
<User Name="demo" Permission="S" /> 
 
<User Name="user" Permission="AESP" /> 
 
<User Name="manager" Permission="AEDSP" /> 
 
<User Name="admin" Permission="AEDSP" /> 

</UserGroups> 
</Table> 
 
<Table Name="[dbo].[custype]" OwnerIDField="" AdvSecurityMethod="0"
DEFAULT="">
<UserGroups> 
 
<User Name="admin" Permission="AEDS" /> 
 
<User Name="External" Permission="S" /> 

</UserGroups> 
</Table>
  <Table Name="[dbo].[comp_suppliers]" OwnerIDField="" AdvSecurityMethod="0"
  DEFAULT="">
    <UserGroups>

      <User Name="External" Permission="##PERMISSIONS##" />

      <User Name="manager" Permission="##PERMISSIONS##" />

      <User Name="admin" Permission="" />

    </UserGroups>
  </Table>

  <Table Name="[dbo].[industry_sic]" OwnerIDField="" AdvSecurityMethod="0"
  DEFAULT="">
    <UserGroups>

      <User Name="External" Permission="S" />

      <User Name="manager" Permission="AEDSP" />

      <User Name="admin" Permission="AEDSP" />

    </UserGroups>
  </Table>

  <Table Name="[dbo].[status]" OwnerIDField="" AdvSecurityMethod="0"
  DEFAULT="">
    <UserGroups>

      <User Name="External" Permission="S" />

      <User Name="manager" Permission="AEDSP" />

      <User Name="admin" Permission="AEDSP" />

    </UserGroups>
  </Table>
</Tables> 

</Security>