        /*  */
        /* &1 */
        /*  */
        &3:BackColorAlpha = Infragistics.Win.Alpha:Transparent.
        THIS-OBJECT:&1:Appearance = &3.
        THIS-OBJECT:&1:AutoSize = TRUE.
        THIS-OBJECT:&1:Location = NEW System.Drawing.Point(&4, &5).
        THIS-OBJECT:&1:Name = "&1":U.
        THIS-OBJECT:&1:TabIndex = &6.
        THIS-OBJECT:&1:Text = "&7":U.