
    /*------------------------------------------------------------------------------
        Purpose: Validation method for &1
        Notes:   
    ------------------------------------------------------------------------------*/
    METHOD PROTECTED VOID &1&2 ():
        
        &3
        
    END METHOD .
